.container {
  margin: 0px;
  display: flex;
  width: 100%;
  height: calc(100vh - 34px);
  flex-direction: row;
  justify-content: center;
}
.btn-adds{
  margin: 15px;
}
.card-container {
  width: 100%;
  margin: 0px;
  padding: 0;
}
.mat-form-field{
  margin-left:5%;
  margin-right: 5%;
  width: 90%;
  text-align: center;
  justify-content: center;
}
.form-abilities{
  width: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.btn-add-pokemon{
  margin-bottom: 10px;
}
.formGroup{
  display: block;
  width: auto;
}
