  <div class="container">
    <div class="row">
      <div  class="formGroup">
        <div *ngIf="!isEdit">
          <button mat-button class="btn mat-button btn-home-add" routerLink="/home">
            <mat-icon>
              arrow_back
            </mat-icon>
            Home
          </button>
        </div>
        <div class="modal-close" *ngIf="isEdit">
          <button mat-button mat-dialog-close class="btn btn-primary btn-sm ml-auto btn-close-modal ">
            <mat-icon>
              highlight_off
            </mat-icon>
          </button>
        </div>
        <form [formGroup]="createdForm" (ngSubmit)="addPokemon()">
          <ul class="col-md-6 offset-md-3">
            <li class="form-group">
              <label>First Name</label>
              <input type="text" formControlName="name" class="form-control" />
            </li>
            <li class="form-group">
              <label>Type/s</label>
              <input type="text" formControlName="type" class="form-control" />
            </li>
            <li class="form-group">
              <label>Lvl</label>
              <input type="text" formControlName="lvl" class="form-control" />
            </li>
            <li class="form-group btn-sub" *ngIf="isEdit">
              <button class="btn btn-primary btn-modal" type="button" (click)="editPokemon();">Edit Person</button>
            </li>
            <li class="btn-sub" *ngIf="!isEdit">
              <button class="btn btn-primary" type="button" (click)="addPokemon()">Add New Person</button>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>
