.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(100, 149, 237, 0.44);
  padding: 12px;
}

.mat-card{
  border: none;
}

.title-navbar {
  margin: 0;
  text-align: center;
  width: 100%;
}

.title-navbar.margin-button {
  margin-left: 64px;
}

app-navbar {
  width: 100%;
}

.btn-logout {
  padding: 0;
}

.btn-back {
  background: none;
  box-shadow: none;
}
