<div class="container">
  <div class="btn-edit">
    <div>
      <button (click)="goBack()" class="back-button">
        <mat-icon>
          arrow_back
        </mat-icon>
      </button>
    </div>
    <div class="div-btn">
    <button mat-raised-button color="primary" routerLink="/edit" (click)="editPokemon()">Edit Pokemon </button>
    </div>
  </div>
  <div *ngIf="pokemon">
    <div class="div-item-list">
        <mat-card class="card-type">
          <h4>{{pokemon.type}}</h4>
        </mat-card>
        <mat-card class="card-name">
          <h4>{{pokemon.name}}</h4>
        </mat-card>
        <mat-card class="card-lvl">
          <h4>Lv: {{pokemon.lvl}}</h4>
        </mat-card>
      </div>
      <div class="div-list-abilities">
        <div class="div-abilities" *ngFor="let abilitie of pokemon.abilities">
          <mat-card class="card-abilites">
            <h1> {{abilitie.name}}</h1>
            <h3>  {{abilitie.description}}  </h3>
            <span></span>
          </mat-card>
        </div>
      </div>
      <mat-card class="card-img">
        <div class="div-img">
          <img src="{{pokemon.image}}"  class="img">
        </div>
      </mat-card>
  </div>
</div>
