.div-img{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.img{
  width: 40%;
}

.card-name{
  min-width:70%;
  max-width: 80%;
}

.div-item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 0;
}

.div-list-abilities {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-abilities{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.card-abilites{
  display: flex;
  width: 100%;
  height: 120px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: stretch;
}

@media (min-width: 728px) {
  .div-item-list, .div-list-abilities {
    flex-direction: row;
    justify-content: center;
  }
}
