.pokemon-card{
  display: flex;
  border-style: none;
  background: none;
}
.div-item-list{
  display: flex;
  width: 100%;
}
.div-btn{
  margin: 16px 0;
}

.card-name{
  width: 70%;
}
.card-lvl , .card-type{
  width: 15%;
}
.container{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container-card{
  display: flex;
  text-align: center;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  align-items: center;
}
