<div class="container-card">
  <div class="container" *ngIf="!_pokemon">
    <div class="div-btn">
      <button class="btn-create" mat-raised-button routerLink="/add"> Agregar
        <mat-icon>
          add
        </mat-icon>
      </button>
    </div>
    <div  *ngFor="let pokemon of pokemons">
        <div class="div-item-list" (click)="select(pokemon)">
          <mat-card class="card-type">
            <h4>{{pokemon.type}}</h4>
          </mat-card>
          <mat-card class="card-name">
            <h4>{{pokemon.name}}</h4>
          </mat-card>
          <mat-card class="card-lvl">
            <h4>{{pokemon.lvl}}</h4>
          </mat-card>
        </div>
    </div>
  </div>
  <div class="container" *ngIf="_pokemon">
    <app-details [pokemon]="_pokemon" (onGoBack)="this._pokemon = undefined"></app-details>
  </div>
</div>
