<div class="container-card">
  <div class="container" *ngIf="!_pokemon">
  <app-navbar></app-navbar>
    <div  *ngFor="let pokemon of pokemons">
      <mat-card class="pokemon-card">
        <div class="div-item-list" (click)="select(pokemon)">
          <mat-card class="card-type">
            <h4>{{pokemon.type}}</h4>
          </mat-card>
          <mat-card class="card-name">
            <h4>{{pokemon.name}}</h4>
          </mat-card>
          <mat-card class="card-lvl">
            <h4>{{pokemon.lvl}}</h4>
          </mat-card>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="container" *ngIf="_pokemon">

    <app-details [pokemon]="_pokemon"></app-details>
  </div>
</div>
